@{
    ViewData["Title"] = "Home Page";
}
@section Css {
    <link rel="stylesheet" href="~/css/INICIO.css" rel="stylesheet" />
}
<div class="container-border" id="cuerpocompleto">
    <div class="col-md-12" id="cuerpocompleto">
        <h1 id="Bienvenido">Bienvenido</h1>
        <p class="texto">
            Nosotros somos HARDCORE GYM, somos una cadena de gimnasio que lleva mas de 12 años
            dentro del mundo de la <br> actividad físca, dedicandonos a mantenerte saludable, y que mejor
            que la actividad física.
        </p>
        <p class="texto">
            Nuestra familia cada vez crece más, actualmente somos mas de 50,000 afiliados a
            nuestros gimnasios, busca tu sucursal <br> más cercana y se parte de esta gran familia!!
        </p>
    </div>
    <hr />
    <div class="row" id="cuerpomedio">
        <div class="col-md-12" id="cuerpocompleto">
            <img src="IMG/gym2.png" id="imggym">
            <br><br>
            <hr id="barra1">
            <hr id="barra2">
        </div>
    </div>
    <div class="row" id="cuerpomedio">
        <div class="col-md-12" id="cuerpocompleto">
            <br>
            <input type="button" value="Encuentra el mejor plan para ti" id="mejorplan">
        </div>
    </div>
    <div class="row" id="cuerpomedio">
        <div class="col-md-3"></div>
        <div class="col-md-6" id="cuerpocompleto">
            <br>
            <table id="tabla">
                <tr>
                    <td></td>
                    <td>Plan básico</td>
                    <td>Plan completo</td>
                </tr>
                <tr>
                    <td>Zona 1 y 2 libres</td>
                    <td>✔</td>
                    <td>✔</td>
                </tr>
                <tr>
                    <td>Cuarto de masaje</td>
                    <td>✔</td>
                    <td>✔</td>
                </tr>
                <tr>
                    <td>Acceso a cualquier gimnasio</td>
                    <td>X</td>
                    <td>✔</td>
                </tr>
                <tr>
                    <td>Invita a un amigo</td>
                    <td class="equis">X</td>
                    <td>✔</td>
                </tr>
                <tr>
                    <td>Clases privadas</td>
                    <td class="equis">X</td>
                    <td>✔</td>
                </tr>
            </table>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br><br>
            <p id="promocion">Promocion</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" id="centro-de-tarjeta">
            <div class="Tarjeta">
                <h5 class="titulotar"><span class="titulotarjeta">Plan basico</span></h5>
                <div class="contenidotar">
                    <ul>
                        <span class="Incluye">Inlcuye:</span>
                        <br>
                        <br>
                        <li class="txt1">Zona 1 y 2 libres.</li>
                        <br>
                        <br>
                        <li class="txt2">Cuarto de masajes</li>
                        <br>
                        <br>
                        <li class="txt3">Uso libre de las instalaciones de su elección</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Tarjeta">
                <h5 class="titulotar"><span class="titulotarjeta">Plan Completo</span></h5>
                <div class="contenidotar">
                    <ul>
                        <span class="Incluye">Inlcuye:</span>
                        <br>
                        <br>
                        <li class="txt1">Zona 1 y 2 libres.</li>
                        <br>
                        <li class="txt2">Cuarto de masajes</li>
                        <br>
                        <li class="txt3">Acceso a cualquiergimnasio</li>
                        <br>
                        <li class="txt4">Invita a un amigo</li>
                        <br>
                        <li class="txt5">Clases privadas</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Tarjeta">
                <h5 class="titulotar"><span class="titulotarjeta">Plan Plus</span></h5>
                <div class="contenidotar">
                    <ul>
                        <span class="Incluye">Inlcuye:</span>
                        <br>
                        <li class="txt1">Zona 1 y 2 libres.</li>
                        <br>
                        <li class="txt2">Cuarto de masajes</li>
                        <br>
                        <li class="txt3">Acceso a cualquiergimnasio</li>
                        <br>
                        <li class="txt4">Invita a un amigo</li>
                        <br>
                        <li class="txt5">Clases privadas</li>
                        <br>
                        <li class="txt6">Dieta presonalizada por nuestos nutriolgos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="precio">
                <span class="cantidad" id="cantidad2">$99</span><p class="moneda">Pesos Mexicanos</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="precio">
                <span class="cantidad">$249</span><p class="moneda">Pesos Mexicanos</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="precio">
                <span class="cantidad">$399</span><p class="moneda">Pesos Mexicanos</p>
            </div>
        </div>
    </div>
</div>
