body {
    background-color: #86a8cf
}
h1 {
    color: #e8490f;
    font-size: 52px;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

#opcionesadmin {
    text-align: center;
}

#tabla {
    width: 70%;
    margin-left: 15%;
}
.centrartabla{
    text-align:center;
}